<hr>
<footer>
  <nav>

    <ul>
      <li>
        <a href="https://twitter.com/the_abdusalam" target="_blank">
          Twitter
        </a>
        |
        <a href="https://youtube.com/@theabdusalam" target="_blank">
          YouTube
        </a>
        |
        <a href="https://github.com/theabdusalam" target="_blank">
          GitHub
        </a>
      </li>
      <li>
        Mediocrity is the enemy
      </li>
      <li>
        © {{ dateFormat "2006" now }}
      </li>

    </ul>
    <ul>
      - THEME: LINES BY RONALDS VILCINS
    </ul>
  </nav>
</footer>
