<header>
  <nav>

    <img src="/pic.png" alt="theabdusalam" style="width:100px;height:100px;margin-bottom: 2em;" />
    {{ $current := . }}
    <ul>{{ range .Site.Menus.main }}
      <li>
        <b>
          {{ $active := or ($current.IsMenuCurrent "main" .) ($current.HasMenuCurrent "main" .) }}
          {{ $active = or $active (eq .Name $current.Title) }}
          {{ $active = or $active (and (eq .Name "Index") (eq $current.Section "posts")) }}
          {{ $active = or $active (and (eq .Name "Projects") (eq $current.Section "projects")) }}
          <a href="{{ .URL }}" {{ if $active }}aria-current="page" {{ end }}>{{ .Name }}</a>
        </b>
      </li>
      {{ end }}
    </ul>
  </nav>
</header>
<hr>
